@page
@model DresstoImpress.Pages.ClothingCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Add Your Own Looks Here </h1>

<p>
    <a asp-page="Create">Add Yours!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clothing[0].ClothingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clothing[0].ClothingSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clothing) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingSize)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClothingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClothingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClothingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
